CREATE TABLE MetaCategories (id INTEGER PRIMARY KEY, Description TEXT NOT NULL, OrderBy NUMERIC DEFAULT 0);
CREATE TABLE MetaTags (id INTEGER PRIMARY KEY, TagName TEXT NOT NULL, TagText TEXT NOT NULL, categoryId INTEGER REFERENCES MetaCategories(id), OrderBy NUMERIC DEFAULT 0);
CREATE TABLE Settings (id INTEGER PRIMARY KEY, setId INTEGER NOT NULL, setValue NUMERIC, setValueText TEXT);
