CREATE TABLE MetaTags (
id INTEGER  PRIMARY KEY AUTOINCREMENT,
TagName TEXT  NOT NULL,
TagText TEXT  NOT NULL,
PrintFormat TEXT DEFAULT '%1' NOT NULL,
TagType NUMERIC DEFAULT 0 NOT NULL,
Flags NUMERIC DEFAULT 0 NOT NULL,
AltTag TEXT NULL,
)

CREATE TABLE Settings (
id INTEGER  PRIMARY KEY NOT NULL,
SetId INTEGER  NOT NULL,
SetValue NUMERIC  NULL,
SetValueText TEXT  NULL
);

CREATE TABLE GearTemplate (
id INTEGER PRIMARY KEY AUTOINCREMENT,
GearType NUMERIC DEFAULT 0 NOT NULL,
TagId INTEGER REFERENCES MetaTags(id),
OrderBy NUMERIC DEFAULT 0 NOT NULL
);

CREATE TABLE UserGearItems (
id INTEGER  PRIMARY KEY AUTOINCREMENT,
ParentId INTEGER REFERENCES UserGearItems(id),
GearType NUMERIC DEFAULT 0 NOT NULL,
GearName TEXT  NOT NULL,
OrderBy NUMERIC DEFAULT 0 NOT NULL
);

CREATE TABLE UserGearProperties (
id INTEGER  PRIMARY KEY AUTOINCREMENT,
GearId INTEGER  REFERENCES UserGearItems(id),
TagId INTEGER  REFERENCES MetaTags(id),
TagValue TEXT  NULL,
AltValue TEXT NULL,
OrderBy NUMERIC DEFAULT 0 NOT NULL
);
